@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  margin: 0;
  padding: 0;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.header-font {
  font-family: 'Playfair Display', serif;
}

.playfair-display {
  font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
  
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 12px;
  
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9d9191;
}

